<div class='footer'>
	<hr>
	<div class="grid-footer">
		<p class="par en">
			This site was created by a fan of the "Amazing World of Gamboll". This is not an official website. blah blah
			blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
			blah blah blah blah blah blah blah blah blah blah blah blah
		</p>
		<div class="tawog"><img src="/media/tawog.png" alt="The Amazing World of Gumball" width="24%"></div>
		<p class="par ru">
			Этот сайт создан фанатом "Удивительного мира Гамбола". Это не официальный сайт. бла бла бла бла бла бла бла
			бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла
			бла бла бла бла бла бла бла бла
		</p>
	</div>
</div>
<script src="/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/js/comingSoon.js"></script>